/* SCSS Light Theme RGB */
$medium-champagne: rgba(251, 232, 166, 1);
$atomic-tangerine: rgba(244, 151, 108, 1);
$cadet: rgba(92, 107, 115, 1);
$mauve: rgba(228, 193, 249, 1);
$uranian-blue: rgba(169, 222, 249, 1);

/* SCSS Dark Theme RGB */
$outer-space-crayola: rgba(46, 53, 50, 1);
$xanadu: rgba(126, 145, 129, 1);
$light-periwinkle: rgba(199, 206, 219, 1);
$cadet-grey: rgba(160, 170, 178, 1);
$mountbatten-pink: rgba(148, 132, 155, 1);

$textColor: black;

/*Variables*/
$light-color: #fff;
$light-alt: $light-periwinkle;
$primary-background-color: $medium-champagne;
$secondary-background-color: $atomic-tangerine;
$hover-light: $light-color;
$hover-dark: $atomic-tangerine;
$gradient-color: linear-gradient(
  90deg,
  #fbe8a6ff,
  #f4976cff,
  #5c6b73ff,
  #e4c1f9ff,
  #a9def9ff
);
$transparent-light: rbga(255, 255, 255, 0.05);
$transparent-dark: rbga(0, 0, 0, 0.75);
$font-family: "Poppins", sans-serif;
$font-size-xsm: 1.2rem;
$font-size-sm: 1.6rem;
$font-size-md: 2.4rem;
$font-size-lg: 3rem;
$font-size-xl: 4rem;
$gap: 2rem;
$margin-sm: 2rem;
$margin-md: 3rem;
$item-min-height-sm: 20rem;
$item-min-height-md: 30rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $textColor;
  font-size: $font-size-sm;
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}

header {
  background-color: $medium-champagne;
}

// Sets the scalable font size for rem (equilivent to 10px), even when using zoom.
html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

//i is for icons
i {
  font-size: $font-size-md;
}

//Theme Color

body.dark-theme {
  $dark-color: $xanadu;
  $dark-color-alt: $mountbatten-pink;
  $primary-background: $cadet-grey;
  $secondary-background: $light-periwinkle;
  $hover-dark-color: #fff;
  $transparent-dark-color: $secondary-background;
  $transparent-light-color: rgba(0, 0, 0, 0.1);
}

/* Reusable classes */
.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section:not(.featured-articles) {
  padding-block: 5rem;
}

.d-grid {
  display: grid;
}

.screen-sm-hidden {
  display: none;
}

/* Header */
.header {
  background-color: $secondary-background-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.logo {
  font-size: $font-size-md;
  color: $light-color;
}

.menu {
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  width: 23rem;
  padding: 1.5rem;
  background-color: $secondary-background-color;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease-in;
}

.list {
  display: flex;
  align-items: center;
  gap: $gap;
}

.menu > .list {
  flex-direction: column;
}

.list-link.current {
  color: $light-color;
}

.close-menu-icon {
  display: none;
}

.btn {
  cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span {
  color: $light-color;
}

.moon-icon {
  display: none;
}

.light-theme .sun-icon {
  display: none;
}

.light-theme .moon-icon {
  display: block;
}

// theme hover
.topic:hover {
  background-color: $hover-light;
  color: $hover-light;
}

.introduction,
.banner {
  align-items: center;
  gap: $gap;
  font-size: $font-size-sm;
  margin-bottom: 1rem;
}

.topics-articles {
  //display: flex;
  align-items: center;
  gap: $gap;
  font-size: $font-size-xsm;
  margin-bottom: 1rem;
  //flex-direction: column;
}

.topic {
  color: $atomic-tangerine;
  font-size: $font-size-md;
}
.post {
  padding-bottom: 2rem;
}
